<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualités</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'events.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- ce que j'ai ajouté -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <script src="{% static 'events.js' %}"></script>
</head>

<body>
    <!--
    ===================
        barre sup
    ===================
    -->

    <!-- Barre supérieure -->
    <header class="top-bar">
        <div class="menu-icon">☰</div>
        <div class="logo"> 
            <a href="">
                <img src="../../media/acceuil_image/logoo.png" alt="logo" class="img-fluid">
            </a>  
            <a href="{% url 'login' %}">Se connecter</a> 
        </div>
    </header>

    <!-- Menu latéral -->
    <div class="menu-container">
        <div class="menu-sidebar">
            <button class="close-btn">×</button>
            <ul>
                <li class="menu-item" data-target="À propos">À propos</li>
                <li class="menu-item" data-target="Formations">Formations</li>
                <li class="menu-item" data-target="Évènements">Évènements</li>
                <li class="menu-item" data-target="Partenaires">Partenaires</li>
                <li class="menu-item" data-target="Recruteurs et organisations">Recruteurs et organisations</li>
                <li class="menu-item" data-target="Vie dans le campus">Vie dans le campus</li>
                <li><a href="mailto:fsjes-cuam@uiz.ac.ma" class="menu-item" style="text-decoration: none; color: inherit;">Contactez-nous</a></li>
            </ul>
            <div class="contact-info">
                <div>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/company/souss-business-school/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>  
        </div>

        <!-- Sous-menus -->
        <div class="submenu-container">
            <!-- Sous-menu de "À propos" -->
            <div id="À propos" class="submenu">
                <h3>À propos</h3>
                <ul>
                    <li><a href="/ecole" class="submenu-item">> École</a></li>
                    <li><a href="/faculte" class="submenu-item">> Faculté</a></li>
                    <li><a href="/mot-president" class="submenu-item">> Mot du président</a></li>
                    <li><a href="/equipes" class="submenu-item">> Équipe</a></li>
                    <li><a href="/avis_etudiant" class="submenu-item">> Avis de nos étudiants</a></li>
                    <li><a href="/alumni" class="submenu-item">> Alumni</a></li>
                </ul>
            </div>

            <div id="Formations" class="submenu">
                <h3>Formations</h3>
                <div class="submenu-container">
                    <!-- Section Licence -->
                    <div class="submenu-column">
                        <h3>Licence d'excellence</h3>
                        {% for formati in formatis %}
                        {% if formati.formation_type == "Licence" %}
                        <ul>
                            <li><a href="{% url 'formati' formati.id %}" class="submenu-item">> {{formati.name}}</a>
                        </ul>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <!-- Section Master -->
                    <div class="submenu-column">
                        <h3>Master d'excellence</h3>
                        <div class="submenu-column">
                            <h3>Licence d'excellence</h3>
                            {% for formati in formatis %}
                            {% if formati.formation_type == "Master" %}
                            <ul>
                                <li><a href="{% url 'formati' formati.id %}" class="submenu-item">> {{formati.name}}</a>
                            </ul>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div id="Évènements" class="submenu">
                <h3>Évènements</h3>
                <ul>
                    <li><a href="/News" class="submenu-item">> Récents</a></li>
                    <li><a href="/Events" class="submenu-item">> Programmés</a></li>
                </ul>
            </div>
            <div id="Partenaires" class="submenu">
                <h3>Partenaires</h3>
                <ul>
                    <li><a href="/partenaires_locaux" class="submenu-item">> Locaux</a></li>
                    <li><a href="/partenaires_internationaux" class="submenu-item">> Internationaux</a></li>
                </ul>
            </div>
            <div id="Recruteurs et organisations" class="submenu">
                <h3>Recruteurs et organisations</h3>
                <ul>
                    <li><a href="/stages" class="submenu-item">> Stages</a></li>
                    <li><a href="/recruteurs" class="submenu-item">> Recrutements</a></li>
                </ul>
            </div>
            <div id="Vie dans le campus" class="submenu">
                <h3>Vie dans le campus</h3>
                <ul>
                    <li><a href="/clubs" class="submenu-item">> Clubs</a></li>
                    <li><a href="/viesportive" class="submenu-item">> Vie sportive</a></li>
                    <li><a href="/bde" class="submenu-item">> Bureau des Étudiants (BDE)</a></li>
                    <li><a href="/bda" class="submenu-item">> Bureau des Arts (BDA)</a></li>
                    <li><a href="/E_services" class="submenu-item">> E-Service</a></li>
                    <li><a href="/equipement" class="submenu-item">> Équipement</a></li>
                    <li><a href="/réglements" class="submenu-item">> Règlement</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--
    ===================
       fin barre sup
    ===================
    -->
    <header class="event-header">
        <div class="event-header-content">
            <h1 class="event-title">{{news.title}}</h1>
            <div class="event-meta">
                <div class="event-meta-item">
                    <i class="far fa-calendar"></i>
                    <span>{{news.date}}</span>
                </div>
                <div class="event-meta-item">
                    <i class="far fa-clock"></i>
                    <span>{{news.date}}</span>
                </div>
                <div class="event-meta-item">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>{{news.lieu}}</span>
                </div>
            </div>
        </div>
    </header>

    <!-- Event Content -->
    <main class="event-content">
        <div class="event-description">
            <h2>À propos de l'événement</h2>
            <p>{{news.content}}</p>
            <a href="/News" class="back-button">
                <i class="fas fa-arrow-left"></i> Retour aux événements
            </a>
        </div>
        <img src="{{ news.image.url }}" alt="Image de {{ news.title }}" class="event-image">
    </main>
    <!--
    ==========================================
        Footer c'est la barre noir en bas
    ==========================================
    -->
    <footer class="footer-section" style="position: relative;">
        <div class="logo-container">
            <img src="../../media/acceuil_image/logoo.png" alt="Logo de l'école" class="footer-logo">
        </div>
        <div class="container">
            <div class="contact-content">
                <div class="contact-info">
                    <div>
                        <h3>Contact</h3>
                        <p><i class="fa-solid fa-location-dot"></i> Route Nationale N° 10 cité Azrou, Ait Melloul</p>
                        <p><i class="fa-solid fa-phone"></i> Téléphone: 05282-42423</p>
                        <p><i class="fa-regular fa-envelope"></i> fsjes-cuam@uiz.ac.ma</p>
                        <a href="https://www.facebook.com/p/Souss-Business-School-61555934742940/"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://www.linkedin.com/company/souss-business-school/"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
                <div class="container">
                    <div class="col-md-7 ml-auto">
                        <div class="footer-inner d-flex justify-content-between">
                            <div class="footer-list-item">
                                <ul class="list-unstyled">
                                    <li><a href="#">École</a></li>
                                    <li><a href="#">Faculté</a></li>
                                    <li><a href="#">Alumni</a></li>
                                    <li><a href="#">Partenaires</a></li>
                                    <li><a href="#">Équipe</a></li>
                                </ul>
                            </div>
                            <div class="footer-list-item">
                                <ul class="list-unstyled">
                                    <li><a href="#">Événements</a></li>
                                    <li><a href="#">Recrutement</a></li>
                                    <li><a href="#">Stages</a></li>
                                    <li><a href="#">Clubs</a></li>
                                    <li><a href="#">Règlement</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <small>© 2024 Souss Business School. Tous droits réservés.</small>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>